//Bold
@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('../../assets/fonts/pfdintextcomppro-bold_35385-webfont.ttf') format('truetype'),
         url('../../assets/fonts/pfdintextcomppro-bold_35385-webfont.woff2') format('woff2'),
         url('../../assets/fonts/pfdintextcomppro-bold_35385-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//Medium
@font-face {
    font-family: 'pf_din_text_comp_promedium';
    src: url('../../assets/fonts/pfdintextcomppro-medium_35390-webfont.ttf') format('truetype'),
         url('../../assets/fonts/pfdintextcomppro-medium_35390-webfont.woff2') format('woff2'),
         url('../../assets/fonts/pfdintextcomppro-medium_35390-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//Regular
@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../../assets/fonts/pfdintextcomppro-regular_35392-webfont.ttf') format('truetype'),
         url('../../assets/fonts/pfdintextcomppro-regular_35392-webfont.woff2') format('woff2'),
         url('../../assets/fonts/pfdintextcomppro-regular_35392-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//Light
@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../../assets/fonts/pfdintextcomppro-light_35388-webfont.ttf') format('truetype'),
         url('../../assets/fonts/pfdintextcomppro-light_35388-webfont.woff2') format('woff2'),
         url('../../assets/fonts/pfdintextcomppro-light_35388-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//Thin
@font-face {
    font-family: 'pf_din_text_comp_prothin';
    src: url('../../assets/fonts/pfdintextcomppro-thin_35393-webfont.ttf') format('truetype'),
         url('../../assets/fonts/pfdintextcomppro-thin_35393-webfont.woff2') format('woff2'),
         url('../../assets/fonts/pfdintextcomppro-thin_35393-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "abstracts/variables";

body {
    font-family: $thin;
    font-size: 19px;
    line-height: 1.2;
    -webkit-font-smoothing: 
    antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h4,
h5,
p,
span,
a {
    color: $black;
    margin: 0;
}
h1 {
    font-family: $thin;
    font-size: 1.842em;
    lin-height: 1.2;
}
h2 {
    font-family: $font;
    font-size: 2em;
    line-height: 1.2;
}
h3 {
    font-family: $thin;
    font-size: 1.842em;
    line-height: 1.2;
}
h4 {
    font-family: $thin;
    font-size: 1.842em;
    line-height: 1.2;
}
h5 {
    font-family: $thin;
    font-size: 1.684em;
    line-height: 0.8;
}
.lead {
    font-family: $thin;
    font-size: 1.947em;
    line-height: 0.7;
}
p {
    font-family: $light;
    font-size: 1em;
    line-height: 1.3;
}
li {
    font-family: $thin;
    font-size: 1.474em;
    line-height: 1.2;
    margin-bottom: 20px;
    list-style-image: url(../../assets/img/check.svg);
}
a {
    transition: $transition;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}