//Variables

/*Fonts*/

$font: 'pf_din_text_comp_proregular';
$bold: 'pf_din_text_comp_probold';
$medium: 'pf_din_text_comp_promedium';
$light: 'pf_din_text_comp_prolight';
$thin: 'pf_din_text_comp_prothin';


/*Colors*/

$primary_color: #f5ce3e;
$white: #fff;
$black: #000;
$dark: #231f20;
$gray: #707070;
$border: #b3b3b3;


/*Transitions*/

$transition: all 400ms ease-in-out;

::selection {
    background: $primary_color;
    color: $black;
}

::-moz-selection {
    background: $primary_color;
    color: $black;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $primary_color;
}